
@{
    ViewBag.Title = "TestPage";
}


<h2>TestPage for SCSS (SASS is the older implementation)</h2>
<br/>
<br/>

<div>
    <p class="test-style">This should have my basic sass implementation in it.</p>
</div>

<div>
    <p class="test-style-two">This should have my basic sass test but with the use of variables.</p>
</div>

<div>
    <p class="test-operations">This should test basic sass operations.</p>
</div>

<div>
    <p class="test-color-functions">This should test the basic color functions.</p>
</div>

<div>
    <p class="item">Testing nested functionality here.</p>
</div>

<div>
    <ul>
        <li class="col-0">Testing 12 + 0 * 2</li>
        <li class="col-1">Testing 12 + 1 * 2</li>
        <li class="col-2">Testing 12 + 2 * 2</li>
        <li class="col-3">Testing 12 + 3 * 2</li>
    </ul>
</div>